
.ADiv {
    margin: 25% 0 0 25%;
    background: black;
    width: 16em;
    heigth: 60em;
    border-radius: 1.5em;
    font-family: "Book Antiqua" , sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    position: absolute;
}

#h1 {
    margin: 0.5em;
    border-radius: 1.5em;
    border: 1em;
    color: white;
}

.display {
    align: center;
    margin-bottom: 0.5em;
    margin-left: 0.3em;
    width: 7.2em;
    border-radius: 1.5em;
    border: 0.5em;
    background-color: white;
    text-align: right;
    font-size: 2em;
}


.DStyle {
    margin: 0.5em;
    width: 4em;
    height: 4em;
    border-radius: 1.5em;
    border: 1em;
    font-color: black;
}

.OStyle {
    margin: 0.5em;
    width: 4em;
    height: 4em;
    border-radius: 1.5em;
    border: 1em;
    font-color: black;
}


/*
.pageContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.led {
    background: rgba(0, 0, 0, 0.8);
    padding: 0.5em;
}

.numberInput {
    color: aliceblue;
    background: none;
    width: 2em;
    border: none;
    text-align: center;
}
*/